* {
  margin: 0;
  padding: 0;
}

/* USING THE TRADITIONAL EXAMPLE */
/* #example {
        background-color: #1e90ff;
        outline: 1px #1e90ff solid;
      }

      h2 {
        border-bottom: 2px solid #1e90ff;
      }

      .container {
        color: #1e90ff;
        background-color: #ffffff;
        padding: 15px;
      }

      button {
        background-color: #ffffff;
        color: #1e90ff;
        border: 1px solid #1e90ff;
        padding: 1.5rem;
      } */

/* USING CSS VARIABLES  */

:root {
  /* Colors */
  --white: #ffffff;
  --black: #212121;
  --primaryColor: #1e90ff;
  --secondaryColor: #33587d62;
  /* Fonts Sizes */
  --heading01: 32px;
  --container: 2em;
  --headingSpacing: 0.5em;
  --innerContainer: 1em;
}

body {
  padding: 2em;
}

#example {
  background-color: var(--primaryColor);
  margin: var(--container);
}
#example h1 {
  font-size: var(--heading01);
  color: var(--white);
  padding: var(--headingSpacing);
}
h2 {
  border-bottom: 2px solid var(--primaryColor);
}

.container {
  color: var(--primaryColor);
  background-color: #ffffff;
  padding: 15px;
  padding: var(--innerContainer);
}

button {
  background-color: var(--white);
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  padding: 1.5rem;
}
