@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  /* web safe fonts */
  /* A sequence of fonts, where the first font, "segoe... is the font that will be loaded on to the screen */
  /* Last value onn the sequence is called the typeface */
  /* UNCOMMENT TO TEST OUT */
  /* font-family: Arial, Helvetica, sans-serif; */

  /* Google Fonts */
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
