body {
  /* web safe fonts */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* Google Font */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
/* Images */
.small-img {
  width: 30%;
}
.img-container {
  display: flex;
  justify-content: center;
}

/* Grid Container Property css */
#grid-container p:nth-of-type(1) {
  text-decoration: underline;
}

/* Simple grid using only track sizes to apply to both columns and rows */
.container-example-simple-grid {
  /* grid props */
  display: grid;
  grid-template-columns: 40px 50px auto 50px 20px;
  grid-template-rows: 25% 100px auto;
  /* demo purposes */
  outline: 1px solid red !important;
  height: 20rem;
}

/* example with image */
.container-example-image {
  display: grid;
  grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
  outline: 1px solid red !important;
  height: 20rem;
}

/* example with more than one name in this specific scenario with a row element */
.container-example-more-than-one-name {
  display: grid;
  grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
  grid-template-rows: [row1-start] 25% [row1-end row2-start] 25% [row2-end];
  outline: 1px solid red !important;
  height: 20rem;
}

.container-example-repeat-notation {
  display: grid;
  /* single namin convention */
  /* grid-template-columns: [col-start] 1fr [col-start]1fr [col-start] 1fr[col-start] 1fr [col-start]1fr; */
  /* SAME AS ABOVE */
  grid-template-columns: repeat(5, 1fr);
  /* multi naming convention
    /* grid-template-columns: repeat(5, 1fr [col-start col-end]); */
  grid-template-rows: [row1-start] 25% [row1-end row2-start] 25% [row2-end];
  outline: 1px solid red !important;
  height: 20rem;
}

.container-example-without-repeat-notation {
  display: grid;
  grid-template-columns: 20px [col-start] 20px [col-start] 20px [col-start];
  grid-template-rows: [row1-start] 25% [row1-end row2-start] 25% [row2-end];
  outline: 1px solid red !important;
  height: 20rem;
}
.container-example-fractions {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: [row1-start] 50% [row1-end] 50% [row2-end];
  outline: 1px solid red !important;
  height: 20rem;
}
.container-example-fractions-2 {
  display: grid;
  grid-template-columns: 1fr 50px 1fr 1fr;
  grid-template-rows: [row1-start] 50% [row1-end] 50% [row2-end];
  outline: 1px solid red !important;
  height: 20rem;
}
/* GRID TEMPLATE AREAS */
.container-example-grid-template-areas {
  outline: 1px solid red !important;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* gap: 25px; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
}
.item-a {
  grid-area: header;
  background-color: #f05d23;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .item-a h1 {
    margin: 0;
  }
  .item-b {
    grid-area: main;
    background-color: #e4e6c3;
  }
  .item-c {
    grid-area: sidebar;
    background-color: #0abe6d;
  }
  .item-d {
    grid-area: footer;
    background-color: #261c15;
  } */

/* GRID TEMPLATE */
.container-example-grid-template {
  outline: 1px solid red !important;
  height: 20rem;
  display: grid;
  grid-template: [row1-start] 25% [row2-start] 25% / auto auto;
}

.container-example-grid-template-2 {
  outline: 1px solid red !important;
  height: 20rem;
  display: grid;
  grid-template: 25% 25% 25% / auto auto;
}

.container-example-grid-template-3 {
  outline: 1px solid red !important;
  height: 20rem;
  display: grid;
  grid-template: [row1-start] "header header header" 25% [row1-end] [row2-start] "footer footer footer" 25% [row2-end] / auto auto;
}
.container-example-grid-template-3-breakdown {
  outline: 1px solid red !important;
  height: 20rem;
  display: grid;
  grid-template-rows: [row1-start] 25% [row1-end row2-start] 25% [row2-end];
  grid-template-columns: auto auto;
  grid-template-areas: "header header header" "footer footer footer";
}

.container-example-gap-breakdown {
  outline: 1px solid red !important;
  height: 20rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 80px auto 80px;
  /* column-gap: 10px;
    row-gap: 20px; */
  /* gap: 20px; */
  gap: 20px 50px;
  /* en caso de arriba primero(20px) es row y segundo es column(50px) */
}

/* GRID ITEMS */
.container-example-grid-items {
  display: grid;
  outline: 1px solid red;
  height: 20rem;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}

/* .item-a {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #f05d23;
  } */

.container-example-grid-items-1 {
  display: grid;
  outline: 1px solid red;
  height: 20rem;
  grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}
.item-b {
  grid-column-start: 1;
  grid-column-end: col4-start;
  grid-row-start: 2;
  grid-row-end: last-line;
  background-color: black;
}
.item-c {
  grid-column: 3 / span 1;
  grid-row: row1-start / 4;
  background-color: red;
}

/* WITH SPAN SYNTAX */
.item-b {
  grid-column-start: 1;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  grid-row-end: span 2;
  background-color: black;
}
